<div id="<%= dom_id colaborador %>">
  <p>
    <strong>Nome:</strong>
    <%= colaborador.nome %>
  </p>

  <p>
    <strong>Cargo:</strong>
    <%= colaborador.cargo %>
  </p>

  <p>
    <strong>Data contratacao:</strong>
    <%= colaborador.data_contratacao %>
  </p>

</div>
