<h1>Editing colaborador</h1>

<%= render "form", colaborador: @colaborador %>

<br>

<div>
  <%= link_to "Show this colaborador", @colaborador %> |
  <%= link_to "Back to colaboradors", colaboradors_path %>
</div>
