<div id="<%= dom_id periodo_ferium %>">
  <p>
    <strong>Data inicio:</strong>
    <%= periodo_ferium.data_inicio %>
  </p>

  <p>
    <strong>Data fim:</strong>
    <%= periodo_ferium.data_fim %>
  </p>

  <p>
    <strong>Colaborador:</strong>
    <%= periodo_ferium.colaborador_id %>
  </p>

</div>
