<h1>Editing periodo ferium</h1>

<%= render "form", periodo_ferium: @periodo_ferium %>

<br>

<div>
  <%= link_to "Show this periodo ferium", @periodo_ferium %> |
  <%= link_to "Back to periodo feria", periodo_feria_path %>
</div>
